[Unit]
Description=Flash Host Bios image %I to Host

[Service]
Type=oneshot
RemainAfterExit=no
ExecStartPre=/bin/mv /tmp/images/%i/image-bios /tmp/image-bios
ExecStart=/usr/bin/bios-update.sh
